@import 'tailwindcss';

:root {
	--background: white;
	--foreground: oklch(20.8% 0.042 265.755);

	--secondary: oklch(20.8% 0.042 265.755);
	--text-secondary: oklch(55.1% 0.027 264.364);
	--text-normal: black;
	--primary-text: white;

	--border-primary: oklch(92.8% 0.006 264.531);
	--border-secondary: oklch(37.2% 0.044 257.287);

	--card: white;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-primary-highlight: var(--color-indigo-600);
	--color-primary-highlight-hover: var(--color-indigo-500);
	--color-primary-highlight-light: var(--color-indigo-100);

	--color-secondary: var(--secondary);
	--color-tertiary: var(--tertiary);
	--color-subtitle: var(--color-gray-500);
	--color-border-primary: var(--border-primary);
	--color-border-secondary: var(--border-secondary);
	--color-card: var(--card);
	--color-card-hover: var(--color-gray-100);
	--color-normal: var(--text-normal);
	--color-primary-text: var(--primary-text);

	--color-error: var(--color-red-500);

	--color-background-estado-default: var(--color-slate-200);
	--color-text-estado-default: var(--color-slate-700);
	--color-border-estado-default: var(--color-slate-300);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans);
	font-size: 16px;
}

.fc .fc-button {
	@apply bg-white text-normal border-0 shadow-none px-2 py-1 transition rounded-md;
}

.fc .fc-button:hover {
	@apply bg-white text-primary-highlight-hover;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
	@apply bg-white text-primary-highlight;
}

.fc .fc-toolbar-title {
	@apply text-xl;
}

.fc .fc-today-button {
	@apply bg-primary-highlight text-white;
}

.fc .fc-prev-button,
.fc .fc-next-button {
	@apply rounded-lg;
}

.fc .fc-daygrid-event {
	@apply border-0 rounded-md px-1 py-0.5 text-xs font-semibold bg-primary-highlight;
}

.fc .fc-button:focus,
.fc .fc-button:active,
.fc .fc-button-primary:focus,
.fc .fc-button-primary:active {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}
